#btn {
  display: flex;
  gap: 1.5rem;
}
button {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 0.75rem;
  border-radius: 999px;
  border: none;
  text-transform: uppercase;
  background-color: var(--snitap-sun);
  transition: transform 200ms linear;
  color: #000000;
  & img {
    width: 1.5rem;
    height: 1.5rem;
  }
  &:hover{
    transform: scale(1.05);
  }
}

& .box-shadow {
  box-shadow: 2px 5px 10px 2px #00000017,
  2px 10px 20px 2px #00000017,
  2px 15px 25px 2px #00000017;
}

& .btn-primary {
  border: none;
  background-color: var(--background);
  & div{
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  & img {
    border-radius: 50%;
  }
}

& .btn-secondary {
  padding: 1.5rem 3rem;
  justify-content: center;
  gap: 0.75rem;
}
