#btn {
  display: flex;
  gap: 3rem;
  border: solid red;
}
button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  padding: 1.5rem 3rem;
  border-radius: 999px;
  border: none;
  text-transform: uppercase;
  background-color: var(--snitap-sun);
  & img {
    width: 1.5rem;
    height: 1.5rem;
  }
}
.box-shadow {
  box-shadow: 2px 10px 20px 2px #00000033;
}

& .btn-primary {
  border: none;
  background-color: var(--background);
  & img {
    border: solid red;
    border-radius: 50%;
  }
}
