header {
    justify-content: space-between;
    padding-block: .75rem;
    margin: 1rem;
    & img[src*="logo"]:hover{
        transform: rotate(90deg);
        transition: linear 100ms;
        animation: move 5s;
    }
}
@keyframes move{
    to {}
}