#hero {
  display: grid;
  gap: 32px;
  padding-block: 1rem 3rem;

  & .hero-img {
    width: 100%;
    height: 350px;
    position: relative;

    & img[src*="Ellipse"] {
      width: 94%;
      left: 3%;
      position: absolute;
      animation:patins 3s both;
      animation-delay: 0.2s;
    }
    & img[src*="patins"] {
      width: 100%;
      height: auto;
      position: absolute;
      animation:patins 3s both;
    }
    & img[src*="Stars 1"] {
      width: 3.5rem;
      position: absolute;
      top: 30%;
      animation:patins 3s both;
    }
    & img[src*="Stars 2"] {
      width: 1.625rem;
      position: absolute;
      bottom: 35%;
      right: 0;
      animation:patins 3s both;
    }
  }
}

@keyframes patins {
  0%{
    transform: translateX(25rem);
  }
  50%{
    transform: translateX(0);
  }

  50%{
    transform: translateX(calc(-5px));
  }
  70%{
    transform: translateX(calc(5px));
  }
  100%{
    transform: translateX(0);
  }
}

.tittle {
  width: 21rem;
  & h1 div {
    display: inline-block;
    overflow-x: hidden;
    height: 2.5rem;
    width: min-content;
    vertical-align: bottom;
  }

  & h1 span:nth-child(1) {
    color: var(--snitap-sky-mid);
  }
  & h1 span:nth-child(2) {
    color: var(--snitap-joy-mid);
  }
  & h1 span:nth-child(3) {
    color: var(--snitap-leaf-mid);
  }
  & h1 span:nth-child(4) {
    color: var(--snitap-sky-mid);
  }

  & h1 span {
    display: block;
    animation: slideup 6s infinite;
    animation-delay: 2s;
  }
}

@keyframes slideup {
  0%,
  22% {
    transform: translateY(0);
  }
  23% {
    transform: translateY(calc(-2.5rem - 7.5px));
  }
  25% {
    transform: translateY(calc(-2.5rem + 7.5px));
  }

  /* -------------------------------- */

  33%,
  55% {
    transform: translateY(-2.5rem);
  }

  56% {
    transform: translateY(calc(-5rem - 7.5px));
  }
  58% {
    transform: translateY(calc(-5rem + 7.5px));
  }

  /* -------------------------------- */

  66%,
  88% {
    transform: translateY(-5rem);
  }

  89% {
    transform: translateY(calc(-7.5rem - 7.5px));
  }
  
   91% {
    transform: translateY(calc(-7.5rem + 7.5px));
  }

  100% {
    transform: translateY(-7.5rem);
  }
}
